* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  position: relative;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto 6.8rem;
}

figure {
  padding: 1rem;
  text-align: center;
  border: 1px solid #edf8b1;
  display: inline;
}

header {
  padding: 2rem;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

nav ul li {
  background-color: #7fcdbb;
  padding: .75rem;
  display: inline;
  margin: .1rem;
  cursor: pointer;
}

nav li a {
  color: #2c7fb8;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  max-height: 25rem;
}

img.intro-image {
  max-width: 25rem;
  display: block;
  margin: auto;
  box-shadow: 2px 2px 5px black;
}

footer {
  background-color: #7fcdbb;
  font-size: .8rem;
  padding: 2rem;
  width: 100vw;
  text-align: center;
  height: 4.8rem;
  position: fixed;
  bottom: 0;
}